@font-face {
    font-family: "anastasia";
    src: url("Anastasia.ttf") format(ttf);
}
html {
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
}
*{
    box-sizing: border-box;

}
body {
    margin: 20px;
    background: deeppink;
}
div{
    padding: 15px;
    background: rgba(200, 0, 100, 0.3);
}
.root{
    width: 100%;
    height: 100vh;
    white-space: nowrap;
    overflow-y: auto;
}
.root > div {
    width: 300px;
    margin: 15px;
    height: 100%;
    display: inline-block;
    overflow-x: auto;
}
div.h-50{
    height: 75px;
    margin: 10px;
    background: aqua;
    overflow-x: auto;
}
div.h-150{
    height: 150px;
    margin: 10px;
    background-color: aliceblue;
    white-space:normal;
    overflow-x: auto;
}
.italic{
    font-style: italic;
}
.bold {
    font-weight: 700;
}
.anastasia{
    font-family: anastasia sans-serif;
}


